* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(41, 62, 255, 0.514);
    color: rgb(1, 65, 43);
}

nav a img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

nav {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(132, 247, 203);
    box-shadow: 0px 1px 50px rgb(44, 168, 252);
    z-index: 1;
}

section {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0px 0px 0px 0px;
}

#top_menu {
    display: flex;
    list-style: none;
}

#top_menu li a {
    margin: 15px;
    text-decoration: none;
    color: rgb(0, 195, 255);
}

#top_menu li a:hover {
    background-color: rgb(98, 128, 226);
    color: rgb(0, 60, 255);
    padding: 10px 10px 10px 10px;
    transition: all ease 0.2s;
}

#Train {
    width: 100%;
    color: blue;
    justify-content: space-between;
    font-size: 3em;
}


div {
    width: 100%;
    justify-content: space-around;
    padding: 5px 10px 10px 10px;
}

#Front {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
#Front a {
    width: 25px;
    height: 25px;
    text-decoration: none;
    margin: 250px 0px 250px 0px;
    background-color: rgb(97, 237, 255);
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

#head_p {
    font-size: 3ex;
    padding: 5px 5px 5px 5px;
    color: rgb(251, 255, 0);
}

#Chead {
    width: 100%;
    margin-left: 60px;
    font-size: 3ex;
    align-self: center;
    color: rgb(27, 73, 58);
}

#LoginBox {
    border-radius: 30px;
    margin: auto;
    background-color: rgb(132, 247, 203);
    width: 30%;
    height: 40%px;
    align-content: center;
}

.LoginDetails {
    height: 30px;
    width: 40%;
    margin: 10px 60px 10px 110px;
    background-color: rgb(120, 253, 202);
    border-radius: 3px;
    border: 2px solid rgb(37, 188, 214);
}

#LoginButton {
    text-decoration: none;
    height: 40px;
    align-self: center;
    color: rgb(125, 125, 255);
    background-color: #9dffd9;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px ;
    margin: 30px 30px 30px 150px;
    border-radius: 3px;
}

#LoginButton:hover {
    align-self: center;
    background-color: rgb(114, 235, 188);
    transition: all ease 0.2s;
    z-index: 1;
    cursor: pointer;
}

#LoginButton:active {
    height: 100px;
    background: rgb(114, 235, 188);
    box-shadow: 0px 0px ;
    transition: all ease 0.05s;
}

#heading {
    font-size: 5ex;
    color: rgb(29, 197, 133);
    margin-right: 150px;
}

#signup_link {
    text-decoration: none;
    font-size: 2ex;
    color: rgb(48, 133, 133);
    margin-right: 20px;
}

#PNR_value {
    text-decoration: none;
    height: 35px;
    align-self: center;
    color: rgb(125, 125, 255);
    background-color: #9dffd9;
    padding: 5px 10px 5px 10px;
    margin: 30px 30px 30px 150px;
    border-radius: 3px;
}

#PNR_label {
    font-size: 5ex;
    color: rgb(7, 121, 7);;
}

#Signed {
    display: none;
    font-size: 5ex;
    text-align: center;
    align-self: center;
    color: rgb(45, 45, 245);
}